<div class="container animated fadeIn fast">
    <br>
    <h1>
        Sobre Comic App
    </h1>
    <hr>
    <p>
        Bibendum est ultricies integer quis auctor elit sed vulputate mi sit amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien? Sed id semper risus in hendrerit gravida rutrum quisque?
        Posuere ac ut consequat semper viverra nam libero justo, laoreet sit amet cursus sit amet, dictum sit amet justo donec enim diam, vulputate ut pharetra? Nibh tellus molestie nunc, non.
    </p>
</div>
