<div class="container animated fadeIn fast">
    <br>
    <h1>Busqueda</h1>
    <hr>

    <div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
        <div class="col-md-12">
            <div class="alert alert-info">
                No existen terminos con lo buscado
            </div>
        </div>
    </div>

    <div class="card-columns">
        <app-heroe-tarjeta [heroe]="heroe" [indice]="i" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>
    </div>
</div>
