<div class="container animated fadeIn fast">
    <br>
    <h1>Estos son Superheroes de comic</h1>
    <div class="card-columns"> 
        
    <!-- *ngFor="let heroe of heroes; let i = index" -->
        <app-heroe-tarjeta (heroeSlected)="verHeroe( $event )" [heroe]="heroe" [indice]="i" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>
    </div>
</div>
