<div class="container animated fadeIn">
    <br>

    <h1>{{ heroe.nombre | uppercase }} <small>({{ heroe.aparicion | date:'y' }})</small></h1>

    <div class="row">
        <div class="col-md-4">
            <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre">

            <br><br>
            <a [routerLink]="['/']" class="btn btn-dark btn-block">Regresar</a>
        </div>

        <div class="col-md-8">
            <h3>{{ heroe.nombre }}</h3>
            <hr>
            <p>
                {{ heroe.bio }}
            </p>

            <div>
                <img *ngIf="heroe.casa == 'Marvel'" src="https://s3.amazonaws.com/prod-media.gameinformer.com/styles/body_default/s3/2019/01/03/7cde0504/marvellogo.jpg" width="20%" height="20%">
                <img *ngIf="heroe.casa == 'DC'" src="https://pentagram-production.imgix.net/3b6abdde-9ffb-4439-a571-6e96ac5ba8e7/emo_dcentertainment_02.jpg?w=640&fm=jpg&q=70&auto=format" width="25%" height="25%">
            </div>
        </div>  
    </div>
</div>
